body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  pie-chart-icon: url(pie_chart_icon_256x256.jpg);
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.search-bar {
  width: 100%;
}

.footer {
  min-height: 50px;
  background-color: #5f788a
}

#grad1 {
  background-color: #f40000; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgba(46,46,46,1), rgba(95,120,138,1)); /* Standard syntax (must be last) */
}

#grad2 {
  background-color: #fafafa; /* For browsers that do not support gradients */
  background-image: linear-gradient(120deg, rgba(52,58,64,1) 38%, rgba(52,58,64,0) 0%);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.card-title {
    padding: 10px;
}

#num_players_badge{
    background-color: #e8e8e8;
}