{% extends "blog/base.html" %}
{% block content %}
<p>test</p>
    <div class="row">
        <div class="col-sm-12">
            <h5> city: {{ LeagueID }} </h5>
            <h5> name: {{ name }}</h5>
        </div>
    </div>

{% endblock content %}



<!--
        'league_logo': 'test team logo',
        'league_type:': 'Rotisserie',
        'players_per_team': 'test per team amount',
        'league_bitcoin_wallet_address': 'test bitcoin address',
        'league_lightning_node': 'test lightening node',
        'teams_amount': 'test teams amount',
        'cap': 'test cap value',
        'hard_cap': 'test hardcap value',
        'luxury_tax_percent': 'test lux tax',
        'regular_season_draft_date': 'test draft date',
        'rookie_draft_date': 'test rookie draft date',
        'eligible_draft_pick_timeframe': 'test timeframe'

-->

